body {
    background-color: #000;
}


#pagebody {
    background-image:url('../images/co2-logo-background.png');
    background-repeat: no-repeat;
    width: 1024px;
    height:768px;
    position:relative;
    margin: 0 auto;
    font-family: arial;
}

#newsletter {
    margin-left: 570px;
    padding-top: 490px;
}

#newsletter label {
    color: white;
}

#newsletter p{
    color: white;
    
}

.input-elements {
    width: 400px;
    height: 50px;
}

.submit-button {
    float: left;
    position: relative;
    margin-left: 5px;
    margin-top: 2px;
}

.contact-heading {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 1.5em;
    margin-bottom: 10px;
}

#submit {
    margin-left: 8px;
    height: 25px;
    float: left;
}

#email {
    height:25px;
    width:250px;
    padding-left: 7px;
    border-radius: 4px;
    font-size: 1em;
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    position: relative;
}