/* ----------------- Color Palette --------------------

Zion National Park Theme:
Blue: #506A8D
Light Green: #727447
Dark Green: #413D22
Light Brown: #C0A581
Brown: #8B625C

*/

body {


  background-color: #506A8D;
  color: #1B3017;
  font-family: 'Nunito', cursive;
}

.header-image {
  border: solid #1B3017 6px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  margin-bottom: 10px;
  margin-top: 4px;
}

#pagetitle {
  text-align: center;

  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: 'Nunito', cursive;
  color: #FCB03C;
  background-color: rgba(0, 0, 0, 0.6);

}

.blogtitle {
  font-size: 1.5em;
  margin-left: 10px;
  font-family: 'Nunito', cursive;
  text-align: center;
  color: #400101;
}

.blogblurb {
  font-size: 1em;
  text-align: center;
}

.blog-box {
  border: solid #8B625C 2px;
  padding: 1.25em;
  font-family: 'Nunito', cursive;
  margin-bottom: 20px;
  background-color: #C0A581;
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.8);
  height: 200px;
}

.blog-link {
  text-align: center;
}

.blog-image {
  border: solid #8B625C 2px;
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.8);
  margin-bottom: 15px;
}

.center-link {
  text-align: center;
}

.nav-link {
  background-color: #C0A581;
  border: solid #8B625C 4px;
  text-align: center;
  height: 32px;
}

#mainNav {
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.8);
}
#mainNav a {
  text-align: center;
  text-decoration: none;
  color: #400101;
}

#mainNav a:hover {
  color: #0078a0;
}


#aboutmeparagraph {
  margin-left: 15px;
  margin-right: 15px;
}

#abouttitle {
  margin-left: 10px;
  text-align: center;
  text-decoration: underline;
}

.aboutitem {
  margin-left: 15px;
}

#contacttitle {
  text-align: center;
  text-decoration: underline;
}

.contactitem {
  margin-left: 15px;
  text-align: center;
}

#blogtitle {
  text-align: center;
  text-decoration: underline;
}

.blog-heading {
  text-align: center;
}

.blogcontent {
  color: #1B3017;
}

.code-example {
  font-family: monospace;
  margin-left: 25px;
}

.ruby-return {
  color: #5eff1f;
}

.caption {
  text-align: center;
}

.social-media {
  text-align: center;
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.8);
}

.footer-link {
  color: #400101;
  text-decoration: none;
}

.footer-link-box {
  background-color: #C0A581;
  border: solid #8B625C 2px;
}
.footer-image {
  margin-top: 10px;
  opacity: .9;
  border: solid #1B3017 5px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

@media all and (max-width: 1001px) {
  #sidebar ul li a:after {
    content: " (" attr(data-email) ")";
    font-size: 11px;
    font-style: italic;
    color: #666;
  }
}


/*-----------Projects------------*/

.tesla-comparison {
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.8);
  margin-bottom: 15px;
  border: solid #1B3017 5px;
  border-radius: 20px;
}

.project-description {
  font-size: 1.6em;
  text-align: justify;
  color: black;
  font-family: 'Nunito', cursive;
}

.project-description-small {
  font-size: 1.2em;
  text-align: justify;
  color: black;
  font-family: 'Nunito', cursive;
}

.gallery-project {
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.8);
  margin-bottom: 15px;
  border: solid #1B3017 5px;
  border-radius: 15px;
}

/*-----------Photos------------*/


.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }

/*-----------About------------*/

.about-image {
  box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.8);
  margin-bottom: 15px;
  border: solid #1B3017 5px;
  border-radius: 15px;
}

.about-text {
  color: black;
}