body {
  width: 1000px;
  position: relative;
  margin: 0 auto;
  background-color: #012340;
  color: white;
  font-family: 'Righteous', cursive;
}

#samphoto {
  width: 200px;
  margin-left: 250px;
  margin-top: 20px;
  border: solid white 2px;
  border-radius: 3px;

}

#title {
  text-align: center;
  font-size: 2.8em;
  font-family: 'Monoton', cursive;
  color: #F23827;
  margin-bottom: 5px;
}

#pagetitle {
  clear: both;
  text-align: center;
  margin-top: 10px;
  text-decoration: underline;
}

.blogtitle {
  font-size: 1.5em;
  margin-left: 10px;
}

.blogblurb {
  font-size: .8em;
}

#mainNav {
  margin-left: 250px;
}

#mainNav a {
  display: block;
  float: left;
  width: 150px;
  height: 25px;
  align-content:center;
  text-align: center;
  text-decoration: none;
  border: solid #F23827 2px;
  border-radius: 3px;
  padding-top: 5px;
  margin-right: 4px;
  color: #400101;
  background-color: #03658C;
}

.pagearticle {
  clear: both;
  float: left;
  margin-top: 30px;
  margin-left: 140px;
  margin-bottom: 20px;
  background-color: #03658C;
  border: solid #F23827 2px;
  border-radius: 3px;
  box-sizing: border-box;
  width: 700px;
}

.pagearticle a {
  color: #400101;
  margin-left: 10px;
  text-decoration: none;
}

.pagearticle td {
  margin-right: 20px;
  text-align: center;
}

.pagearticle table {
  margin-left: 50px;
}

#aboutmeparagraph {
  margin-left: 15px;
  margin-right: 15px;
}

#abouttitle {
  margin-left: 10px;
  text-align: center;
  text-decoration: underline;
}

.aboutitem {
  margin-left: 15px;
}

#contacttitle {
  text-align: center;
  text-decoration: underline;
}

.contactitem {
  margin-left: 15px;
  text-align: center;
}

#blogtitle {
  text-align: center;
  text-decoration: underline;
}

.blogcontent {
  margin-left: 15px;
  margin-right: 15px;
}

#blogphoto {
  width: 200px;
  margin-left: 260px;
  margin-top: 20px;
  border: solid #F23827 2px;
  border-radius: 3px;
}

#largeblogphoto {
  width: 600px;
  margin-left: 50px;
  margin-top: 1px;
  margin-bottom: 10px;
  border: solid #F23827 2px;
  border-radius: 3px;
}

#bikeblogphoto {
  width: 400px;
  margin-left: 150px;
  margin-top: 1px;
  margin-bottom: 10px;
  border: solid #F23827 2px;
  border-radius: 3px;
}

#biketrail {
  float: right;
  width: 220px;
  margin-left: 25px;
  margin-top: 5px;
  margin-right:  15px;
  border: solid #F23827 2px;
  border-radius: 3px;
}

