/* ----------------- Color Palette --------------------

Zion National Park Theme:
Blue: #506A8D
Light Green: #727447
Dark Green: #413D22
Light Brown: #C0A581
Brown: #8B625C

*/

body {


  margin-left: 10px;
  margin-right: 10px;
  background-color: #506A8D;
  color: #413D22;
  font-family: 'Nunito', cursive;
}

.main-background {
  background-color: #C0A581;
  border-left: solid #8B625C 2px;
  border-right: solid #8B625C 2px;
}

header {
  width: 1000px;
}
header:after {
  clear: both;
}

header:after,
header:before {
  content: "";
  display: block;
}

.header-image {
  border: solid #413D22 2px;
  border-bottom: solid #413D22 4px;
  border-top: solid #413D22 4px;
  margin-bottom: 4px;
  margin-top: 4px;
}

#pagetitle {
  clear: both;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'Nunito', cursive;
  color: #1A4F63;
}

.blogtitle {
  font-size: 1.5em;
  margin-left: 10px;
}

.blogblurb {
  font-size: .8em;
}

.nav-link {
  background-color: #C0A581;
  border: solid #8B625C 4px;
  text-align: center;
  height: 32px;
}
#mainNav a {
  text-align: center;
  text-decoration: none;
  /*color: #413D22;*/
}

#mainNav a:hover {
  /*color: #727447;*/
}

.pagearticle {
  clear: both;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #C0A581;
  border: solid #8B625C 2px;
  box-sizing: border-box;
  width: 100%;
}

.pagearticle a {
  color: #400101;
  margin-left: 10px;
  text-decoration: none;
}

.pagearticle td {
  margin-right: 20px;
  text-align: center;
}

.pagearticle table {
  margin-left: 20px;
}

#aboutmeparagraph {
  margin-left: 15px;
  margin-right: 15px;
}

#abouttitle {
  margin-left: 10px;
  text-align: center;
  text-decoration: underline;
}

.aboutitem {
  margin-left: 15px;
}

#contacttitle {
  text-align: center;
  text-decoration: underline;
}

.contactitem {
  margin-left: 15px;
  text-align: center;
}

#blogtitle {
  text-align: center;
  text-decoration: underline;
}

.blog-heading {
  text-align: center;
}

.blogcontent {
  margin-left: 15px;
  margin-right: 15px;
}

.code-example {
  font-family: monospace;
  margin-left: 25px;
}

.ruby-return {
  color: #5eff1f;
}

.caption {
  text-align: center;
}

.social-media {
clear: both;
  margin-bottom: 20px;
  background-color: #C0A581;
  border: solid #8B625C 2px;
  border-radius: 3px;
  width: 100%;
}

.social-media a {
  color: #400101;
  margin-top: 8px;
  margin-bottom: 4px;
  margin-left: 130px;
  height: 40px;
  text-decoration: none;
}

.footer-image {
  clear: both;
  margin-top: 10px;
  opacity: .9;
  border-top: solid #413D22 2px;
}

