/* ----------------- Color Palette --------------------

Tesla Light Red: #bf0021
Tesla Dark Red: #831c20
Gold: #CC8700;
Blue: #0E3588;
Light Green: #4ED514;
Green: #34AF00;

Adobe Kuler Tesla Theme:

Light Red: #DC0000;
Dark Red: #880000;
Black/Grey: #333333;
Light Grey: #D9D9D9;
Dark Grey: #999999;

Additional:

Yellow: #FFB426;
Very Light Blue: #CDF8FF;
Maroon: #241E26;
Grey: #A4A4A6;
Steel Blue: #4D5D73;
Whitish: #F2F2F2;
;
*/

/* ----------------- Body Elements --------------------*/

body {
	/*background-image:url(images/microtile.png);*/
	background-color: #4D5D73;
	font-family: 'Lato', sans-serif;
}


.page-heading {
	text-align: center;
	color: white;
}

.background-div {
	/*background-color: rgba(255,255,255,.5);*/ /*Original background style*/
	background-color: #809BBF;
	width: 1000px;
	margin: 0 auto;
	border: solid 6px #bf0021;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.intro-paragraph p {
	text-align: center;
	color: #831c20;
	font-size: 1.4em;
	margin-bottom: 20px;
	margin-top: 15px;
	font-weight: bold;
}

a.disabled {
	pointer-events: none;
	cursor: default;
}

.clear-both {
	clear: both;
	margin-left: 35px;
}

/* ----------------- Header --------------------*/

header {
	background-image:url(images/elements/Tesla-Header-1000-thin.jpg);
	height: 165px;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	border-bottom: solid 6px #bf0021;
}

.page-title {
	color: #bf0021;
	text-align: center;
}

/* ----------------- Tesla Selector --------------------*/

.vehicle-selector:after {
	clear: both;
}

.vehicle-selector:before, .tesla-selector:after {
	content: "";
	display: block;
}


.all-selectors:after {
	clear: both;

}

.all-selectors:after, .all-selectors:before {
	content: "";
	display: block;
}

.tesla-selector-list {
	
}

.vehicle-selector {
	width: 45%;
	margin: 0 auto;
	float: left;
	margin-left: 4%;
	margin-bottom: 2%;
}


.battery-title {
	text-align: center;
	margin-top: 4%;
	margin-bottom: 3%;
	color: white;
}

.battery-option {
	background-color: #333333;
	float: left;
	width: 20%;
	height: 75px;
	border-top: solid #bf0021 3px;
	border-left: solid #bf0021 3px;
	border-bottom: solid #bf0021 3px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	clear: left;
	margin-bottom: 4px;
}

.battery-description {
	background-color: #333333;
	float: left;
	width: 60%;
	height: 75px;
	border-top: solid #bf0021 3px;
	border-right: solid #bf0021 3px;
	border-bottom: solid #bf0021 3px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	
}

.battery-image {
	width: 65%;
	margin: 0 auto;
	margin-top: 33%;
	margin-left: 17%;
}

.model-description {
	margin-bottom: 10%;
	margin-left: 3%;
	margin-right: 2%;
	text-align: center;
	margin-top: 1%;
	color: white;
}

.vs-image {
	width: 10%;
	margin-top: 7%;
	margin-left: 5%;
}

.middle-divider {
	border-right: solid black 3px;
	height: 251px;
	margin-right: 9%;
}

.comparison-vehicle-selector {
	margin: 0 auto;
	float: left;
	border: solid #831c20 3px;
	border-radius: 10px;
	width: 45%;
	height: 120px;
	padding: 12px;
	background-color: rgba(51,51,51,.85);
}

.ui-accordian-overlay {
	background-color: blue;
}

.comparison-vehicle-selector:after {
	clear: both;
}

.comparison-vehicle-selector:after, 
.comparison-vehicle-selector:before {
	content: "";
	display: block;
}


.year-select-box {
	width: 15%;
	height: 25px;
	margin-right: 3%;
	font-size: 1.2em;
	float: left;
}

.select-box {
	width: 36%;
	height: 25px;
	margin-right: 3%;
	font-size: 1.2em;
	float: left;
}

.model-select-box {
	width: 42.5%;
	height: 25px;
	font-size: 1.2em;
	float: left;
}

.long-select-box {
	clear: both;
	width: 99.5%;
	height: 25px;
	font-size: 1.2em;
	margin-top: 3%;
	float: left;
}

.select-line {
	clear: both;
	float: left;
	width: 98.5%;
	margin-top: 3%;
}

.state-select-box {
	clear: both;
	width: 25%;
	height: 25px;
	margin-top: 3%;
	margin-right: 3%;
	font-size: 1.2em;
	float: left;
}

.zip-text {
	margin-top: 3%;
	
	width: 24%;
	height: 25px;
	font-size: 1.1em;
	float: left;
}

.submit-button {
	float: left;
	width: 21%;
	height: 28px;
	font-size: 1.05em;
	margin-top: 3%;
	margin-left: 3%;
	border-radius: 5px;
	border: solid #bf0021 2px;
	color: white;
	background-color: black;
}

.submit-button:hover {
	background-color: #FFB426;
}

.page-navigator:after {
	clear: both;
}

.page-navigator:after,
.page-navigator:before {
	content: "";
	display: block;
}

.page-navigator {
}

.navigator-cell {
	margin-top: 5px;
	margin-right: 3px;
	width: 154px;
	height: 31px;
	padding-top: 7px;
	color: white;
	text-align: center;
	text-decoration: none;
	float: left;
	border: solid #831c20 2px;
	border-radius: 5px;
	background-color: #333333;
}

.nav-light {
	width: 15px;
	float: right;
	margin-right: 15px;
	margin-top: 4px;
}

.nav-info {
	font-size: .7em;
	float: left;

}

.tiny-light {
	width: 10px;
	margin-top: 3px;
	margin-left: 48px;
}

.bottom-nav {
	width: 234.5px;
}
/* ----------------- Car Photos --------------------*/

.car-battle-display:after {
	clear: both;
}

.car-battle-display:after, 
.car-battle-display:before {
	content: "";
	display: block;
}

.car-battle-display {
	display: none;
}

.comparison-display, .tesla-display {
	float: left;
	width: 35%;
}

.vs-icon {
	float: left;
	width: 9%;
	margin-top: 10%;
	margin-right: 1%;
	z-index: 2;
}

.tesla-display {
	margin-left: 10%;
	z-index: -1;
}

.comparison-display {
	z-index: -1;
}

.car-photo {
	width: 95%;
	margin-top: 9%;
	border: solid #bf0021 5px;
}

.car-display-title {
	text-align: center;
	font-family: 'Michroma', sans-serif;
	font-size: 1.3em;
}


/* ----------------- Fuel Price Bar --------------------*/

.fuel-price-bar:after {
	clear: both;
}

.fuel-price-bar:after,
.fuel-price-bar:before {
	content: "";
	display: block;
}

.fuel-price-bar {
	border-top: 2px solid #bf0021;
	border-bottom: 2px solid #bf0021;
	height: 24px;
	background-color: #333333;
	color: white;
	display: none;
}

.fuel-bar-heading {
	float: left;
	margin-left: 30px;
}

.energy-heading {
	float: left;
	margin-left: 140px;
}

.gas-heading {
	float: left;
	margin-left: 90px;
}

.gas-price, .energy-price {
	float: left;
	overflow: auto;
	width: 50%;
}


.gas-price-number {
	font-family: 'Audiowide', cursive;
	color: #00FF1B;
	float: left;
	margin-left: 5px;
}

.gas-icon {
	float: left;
	width: 12px;
	margin-left: 3px;
	float: left;
	position: relative;
	top: 4px;
}

.electric-icon {
	width: 12px;
	margin-left: 3px;
	float: left;
	position: relative;
	top: 3px;
}

.energy-arrow, .gas-arrow {
	width: 15px;
	margin-left: 5px;
	margin-top: 3px;
	float: left;
}

.energy-price-number {
	font-family: 'Audiowide', cursive;
	color: #fcff00;
	float: left;
	margin-left: 5px;
}

/* ----------------- Fuel Economy --------------------*/

.fuel-economy-comparison:after {
	clear: both;
}

.fuel-economy-comparison:after, 
.fuel-economy-comparison:before {
	content: "";
	display: block;
}

.fuel-economy-comparison {
	background-color: rgba(51,51,51,.5);
	margin-left: 10%;
	margin-right: 10%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-left: solid #bf0021 2px;
	border-right: solid #bf0021 2px;
	border-top: solid #bf0021 2px;;
	padding-top: 2%;
	display: none;
}


.tesla-fuel-economy,.comp-fuel-economy {
	float: left;
	width: 50%;
	margin-bottom: 15px;
}

.tesla-fuel-background {
	background: linear-gradient(#fff, #bdbdbd);
	margin-left: 15%;
	width: 60%;
	height: 94px;
	border:solid black 2px;
	box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
}

.comp-fuel-background {
	background: linear-gradient(#fff, #bdbdbd);
	margin-left: 25%;
	width: 60%;
	height: 94px;
	border:solid black 2px;
	box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
}

.outside-border {
	border: solid #831c20 2px;
}

.comp-fuel-cell {
	float: left;
	clear: left;
	margin-bottom: 0%;
	width: 98%;
	height: 28px;
	text-align: center;
	padding-top: 1%;
}

.comp-bottom-fuel-cell {
	float: left;
	clear: left;
	margin-bottom: 0%;
	width: 98%;
	height: 28px;
	text-align: center;
	padding-top: 1%;
}

.border-bottom-class {
	border-bottom: solid #831c20 2px;
}


.tesla-fuel-cell {
	float: left;
	clear: left;
	margin-bottom: 0%;
	width: 98%;
	height: 28px;
	text-align: center;
	padding-top: 1%;
}

.tesla-bottom-fuel-cell {
	float: left;
	clear: left;
	margin-bottom: 0%;
	width: 98%;
	height: 28px;
	text-align: center;
	padding-top: 1%;
}

.small-label {
	font-size: .75em;
}

.fuel-milage-slider:after {
	clear: both;
}

.fuel-milage-slider:after,
.fuel-milage-slider:before {
	content: "";
	display: block;
}

.fuel-milage-slider {
	margin-bottom: 1%;
	margin-top: 10px;
	padding-bottom: 10px;
	float: left;
	border-bottom: solid #831c20 2px;
	border-top: solid #831c20 2px;
}

.slider-box {
	float: left;
	margin-left: 42px;
}

.mile-heading {
	float: left;
	color: white;
	font-size: 1.2em; 
	margin-left: 290px;
	margin-top: 15px;
}



.mile-slider-label:after {
	clear: both;
}

.mile-slider-label:before,
.mile-slider-label:after {
	content: "";
	display: block;
}

.mile-box {
	float: left;
	width:6.2%;
	margin-bottom: 10px;
	margin-top: 3px;
	color: white;
	text-align: center;
}

.final-fuel-costs:after {
	clear: both;
}

.final-fuel-costs:after,
.final-fuel-costs:before {
	content: "";
	display: block;
}

.final-fuel-costs {
	margin-left: 8%;
}



.final-fuel-cell {
	float: left;
	margin-bottom: 1%;
	margin-top: 15px;
	width: 30%;
	height: 38px;
	border: solid black 2px;
	text-align: center;
	font-size: 1.3em;
	padding-top: 8px;
	background: linear-gradient(#fff, #bdbdbd);
	box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
}

.final-fuel-cell-difference {
	float: left;
	margin-bottom:3%;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
	width: 25%;
	height: 38px;
	border: solid black 2px;
	text-align: center;
	font-size: 1.6em;
	padding-top: 1%;
	background: linear-gradient(#fff, #bdbdbd);
	box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
}

.final-fuel-cell-comp {
	float: left;
	clear: left;
	margin-bottom: 5%;
	width: 91%;
	height: 28px;
	border: solid black 2px;
	text-align: center;
	padding-top: 1%;
	box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
}

.tesla-color-cell {
	background: linear-gradient(#fff, #bdbdbd);
}

.comp-color-cell {
	background: linear-gradient(#fff, #bdbdbd);
}

.gas-color {
	color: #34AF00;
}

/* ----------------- Performance --------------------*/

.car-titles:after {
	clear: both;
}

.car-titles:after, 
.car-titles:before {
	content: "";
	display: block;
}

.car-titles {
	margin-bottom: 0%;
}

.car-performance-title {
	width: 48%;
	float: left;
	text-align: center;
	font-family: 'Michroma', sans-serif;
	font-size: 1.3em;
	margin-bottom: 0%;
	text-decoration: underline;
	text-decoration-color: red;
}

.performance-section:after {
	clear: both;
}


.performance-section:after,
.performance-section:before {
	content: "";
	display: block;
}

.performance-section {
	display: none;
}
.performance-heading {

}

.performance-comparison {
	border: solid black 2px;
	width: 75%;
	margin-left: 12.5%;
	padding-top: 10px;
	box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
	background-color: rgba(255,255,255,.76);
}


.performance-cell {
	height: 35px;
	text-align: center;
	font-size: 1.5em;
	padding: 4px;
	
}

.performance-stat {
	width: 33%;
	float: left;
}

.tesla-stat {
	float: left;
} 

.comp-stat {
	float: left;
}

.performance-label {
	text-align: center;
	float: left;
}

.comparison-heading {
	text-align: center;
	font-family: 'Michroma', sans-serif;
	font-size: 1.1em;
	margin-bottom: 30px;
	margin-top: 20px;
}

.car-photo-small {
	width: 20%;
	margin-top: 3%;
	margin-left: 19%;
	border: solid #bf0021 2px;
	border-radius: 5px;
	display: none;
}

/* ----------------- Performance --------------------*/

.cost-comparison {
	border: solid black 2px;
	width: 75%;
	padding-top: 10px;
	margin-left: 12.5%;
	box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
	background-color: rgba(255,255,255,.76);
	display: none;
}

.cost-heading {
	display: none;
}
/* ----------------- Tables --------------------*/

.fuel-economy:after {
	clear: both;
}

.fuel-economy:after, .fuel-economy:before {
	content: "";
	display: block;
}

.fuel-economy {
	border-top: 3px solid #bf0021;
}

.table1-headings:after {
	clear: both;
}

.table1-headings:after, .table1-headings:before {
	content: "";
	display: block;
}



.fuel-heading-gas {
	color: white;
	margin-left: 34%;
	float: left;
}



#mileslide {
	width: 5%;
}

/* ----------------- Tables --------------------*/

.bottom-table-headings:after {
	clear: both;
}

.bottom-table-headings:after, .bottom-table-headings:before {
	content: "";
	display: block;
}

.cost-row-top {
	clear: both;
	margin-top: 1%;
	width: 76%;
	float: right;
	margin-right: 39px;
}

.cost-row {
	clear: both;
	margin-top: 8px;
	width: 90%;
	float: right;
	margin-right: 25px;
}

.cost-cell-heading {
	float: left;
	width: 115px;
	height: 25px;
	color: #bf0021;
	background: white;
	border: solid black 1px;
	text-align: center;
	margin-right: 8px;
	font-weight: bold;
	padding-top: 5px;
	box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
}

.cost-cell {
	float: left;
	width: 115px;
	height: 25px;
	background-color: rgba(255,255,255,.5);
	border: solid black 1px;
	border-radius: 3px;
	text-align: center;
	margin-right: 8px;
	padding-top: 5px;
	box-shadow: 2px 2px 3px 0px rgba(50, 50, 50, 0.75);
}

.cost-cell-bold {
	font-weight: bold;
}

.cost-cell-tesla-bold {
	font-weight: bold;

}

.comp-color {
	color: #831c20;
}


.bottom-tables:after {
	clear: both;
}

.bottom-tables:after, .bottom-tables:before {
	content: "";
	display: block;
}


/* ----------------- Annual Cost Tables --------------------*/

.tesla-cost-heading {
	text-align: center;
	margin-top: 2%;
	font-family: 'Michroma', sans-serif;
}

.tesla-table, .tesla-heading, .comp-heading, .comp-table  {
	display: none;
}

.bottom-margin {
	margin-bottom: 3%;
}

/* ----------------- Footer --------------------*/

footer {
	background-image:url(images/elements/Footer.jpg);
	background-repeat: no-repeat;
	height: 205px;
	margin-top: 20px;
	/*border-bottom-left-radius: 14px;
	border-bottom-right-radius: 14px;*/
}

footer:after {
	clear: both;
}

footer:after,
footer:before {
	content: "";
	display: block;
}

.footer-link {
	float: left;
	width: 125px;
	height: 25px;
	color: #bf0021;
	padding-top: 2px;
	text-decoration: none;
	text-align: center;
	border-right: solid 1px #831c20;
	margin-top: 7px;
}
.footer2-link {
	float: left;
	width: 123.5px;
	height: 25px;
	color: #bf0021;
	padding-top: 2px;
	text-decoration: none;
	text-align: center;
	border-right: solid 1px #831c20;
	margin-top: 7px;
}
