html {
    background-color: #84B1D9;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

.double-sided {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
}

img {
	cursor: pointer;
}